<!DOCTYPE html>

<html lang="en">
<body>

  <title>Test</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Bootstrap -->
   <link href="static/css/bootstrap.css" rel="stylesheet">

  <div> Start Page </div>
  <h3>{{ title }} </h3>
  <button href="/helloWorld" class="btn btn-hello-world btn-lg" role="button">Hello World</button>
  <button href="/temperature"class="btn btn-info " role="button">Get Temperature</button>
  <button href="/restget">Rest Get</button>
  <button href="/restget/JavaScript"> Get JavaScript</button>
  <button href="/">Home Page</button>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script src="static/js/bootstrap.js"></script>
</body>
</html>
