<!DOCTYPE html>

<html>
<body>

  <title>Test</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Bootstrap -->
   <link href="static/css/bootstrap.css" rel="stylesheet">
  <div> Temperature</div>
  <h3>{{ title }} </h3>
  <a href="/helloWorld">Hello World</a>
  <a href="/temperature">Get Temperature</a>
  <a href="/">Home Page</a>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script src="static/js/bootstrap.js"></script>
</body>
</html>
